* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#EAF6F6;
}

body{
    color: #66BFBF;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

input {
    margin-left: 10px;
    width: 50%;
    height: 30px;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 10px;
    padding: 7px;
}

label {
    color: inherit;
    border-color:#227C70 ;
    margin: 5px;
    margin: 5px;
    padding: 15px;
    width: 200px;
    text-align: left;
    display: inline-flex;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px rgb(241, 240, 240);
}

h1 {
    text-align: center;
}

.btn {
    margin-left: 40%;
    width: 10%;
    height: 1%;
    border-style: none;
    border-radius: 0px;
    /* background-color: blue; */
    background-color: #227C70;
    color: whitesmoke;
    padding: 9px;
    text-transform: capitalize;
}

.btn:hover {
    background-color: #84D2C5;
}