.footer{
    margin-left: 44%;
    padding: 10px;
    word-spacing: 2rem; 
}

.neelfooter{
    text-align:center;
    font-size: 14px;
}

.fa-github:hover{
    color:black;
}

.fa-linkedin:hover{
    color:#1174d8;
}

.fa-instagram:hover{
    color: #d6249f;
    /* color: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf) */
}

.fa-envelope:hover{
    color: #4285F4;
}