.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.footer-right .footer-text {
  padding: 10px 0;
}

.footer-right a i:hover {
  transition: all 0.3s linear;
}

.fa-github:hover {
  color: black;
}

.fa-linkedin:hover {
  color: #1174d8;
}

.fa-instagram:hover {
  color: #d6249f;
  /* color: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf) */
}

.fa-envelope:hover {
  color: #4285f4;
}

@media (min-width: 768px) {
  .footer-right {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .footer-right {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .footer-right {
    width: 1170px;
  }
}
