*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: #68B984; */
    color: #66BFBF;
}
 

/* Custom Font */

@font-face{
    font-family:ChineseHiromi;
    src:url('/fonts/HIROMISAKE.ttf') format('truetype');

    font-family:ChineseScript;
    src:url('/fonts/Khiara\ Script.otf') format('woff2');

    font-family:ChineseItache;
    src:url('/fonts/Zenzai\ Itache.ttf') format('truetype');
}

body {
    /* color: #CEEDC7; */
    background-color: #EAF6F6;
}

/* Nav Bar */

nav {
    list-style: none;
    margin: 0.6rem;
    margin-left: 75%;
    padding: 20px;
    border: 1px solid transparent;
    height: 20px;
}

.nav-list {
    display: inline;
    margin: 0.2rem;
    font-size: medium;
    padding: 7px;
    transition: font-size;
    transition-duration: 1s;
}
                
#home:hover {
    font-size: large;
    color: black;
    cursor: pointer;
}

#edu:hover {
    font-size: large;
    color: black;
    cursor: pointer;
}

#skill:hover {
    font-size: large;
    color: black;
    cursor: pointer;
}

#contact:hover {
    font-size: large;
    color: black;
    cursor: pointer;
}

/* First Self */

.intro {
    margin: -25px -8px 18px -8px;
    padding: 10px;
    display: inline-flex;
    width: 100%;
   /* animation: textcolor;
    animation-duration: 4s;
    animation-delay: 100ms; */
}

/* @keyframes textcolor {

    0%   { color:#4285F4;  }
    25%  { color:#34A853;  }
    50%  { color:#FBBC05;  }
    75%  { color:#fb6b05;  }
    100% { color:#EA4335;  }

} */

.profile {
    align-items: start;
    height: 262px;
    width: 260px;
    padding: 10px;
    margin: 3px;
    margin-bottom: -4px;
    position: relative;
    animation-name: profilepic;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes profilepic{
    0%   { left:0px; top:-200%; }
    75%  { left:0px; top:100px; }
    100% { left:0px; top:0px; }
}

.profile_pic{
    margin-left: 7px;
}
.sub-intro {
    margin-top: 3%;
    margin-left: 3px;
}

.code_gif {
    margin-top: 11%;
    margin-left: 32%;
    width: 20%;
    height: 150px;
    position: relative;
}

#code {
    position: absolute;
    left: 0;
    animation-name: enter;
    animation-duration: 6s;
    animation-timing-function: linear;
}

@keyframes enter {
    from { left: 100%; }
    to { left: 0%; }
}

/* Line */

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

.mx {
    margin-left: 150px;
}

.mx-10 {
    margin-left: 5px;
}

/* Personal Details */

.details {
    margin-left: 30px;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 2px;
}

h3 {
    margin-top: -14px;
}

h5 {
    margin-top: -12px;
}

a {
    color: inherit;
}

.career{
    margin: 5px;
}

p {
    margin: 5px;
}

.mx-list {
    margin-left: 20px;
    align-items: end;
    display: inline;
    font-weight: 200;
}

.hobbie {
    padding: 5px;
}

.checked {
    padding: 2px;
}

#mongo {
    height: 16px;
    width: 17px;
}

.col-2 {
    margin-top: -44px;
}